.git
.github
.azure
.devcontainer
**/.venv
**/.vscode
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov
*.md
documents/
infra/
tests/
scenario-app/backend/
data/
